<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserAdmin()"  routerLink="/" class="nav-link">View Users</a></li>
      <li><a routerLink="/adduser" class="nav-link">Add New User</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/estates" class="nav-link">Estates list</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
    </ul>

  </nav>

</header>
