<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" [(ngModel)]="selectedUsername" placeholder="Name" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="password">Name:</label>
      <input type="password" [(ngModel)]="selectedPassword" placeholder="Password" name="password" class="form-control"
             id="password">
    </div>

    <div class="form-group">
      <label for="roles">Role:</label>
      <select id="roles" class="form-control" [(ngModel)]="selectedRole" required="true" name="selectRole">
        <option *ngFor="let role of roles"
                [value]="role"
                [attr.selected]="role">
          {{role}}
        </option>
      </select>
      <button class="btn btn-success" (click)="createUser()">Create</button>
    </div>
  </form>
</div>
