<div class="container">
  <div class="inputfields">
    Username : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
    <button (click)=checkLogin() class="btn btn-success"> Login
    </button>
    <p *ngIf="invalidLogin" class="invalidText">Invalid username/password</p>
  </div>
</div>
