<div class="col-md-6">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Username</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.userName}}</td>
      <td>{{user.role}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
